page-guiding {

}

div, button {
  box-sizing: content-box;
}

.scroll-content {
  overflow: hidden;
}

ion-content {

  ion-icon{
    font-size: 30px;
  }

  ion-row.article-nav {
    background-color: map_get($colors,primary);
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    h1{
      color: white;
    }

    div.nav-wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      button.nav-btn {
        background-color: map_get($colors,primary);
        width: 10%;
        height: 9%;
        position: fixed;
        bottom: 0;
        z-index: 10000;
      }
      button.nav-btn-prev {
        left: 0;
      }
      button.nav-btn-next {
        right: 0;
      }

      h1.item-name {
        top: 50%;
        font-size: 26px;
        @include transform(translateY(-50%));
        width: 100%;
        display: inline-block;
      }

    }
  }
}
