page-save-shopping-list {
  ion-row{
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  ion-grid{
    height: 100%;
  }

  h3{
    color: #488aff;
  }

  .input-wrap{
    border-bottom: 1px white solid;
  }

  h1{
    color: white;
  }
}
